.aboutus1 ,.aboutus2{

    height: 100vh;
    display: flex;
}
.aboutus1{
justify-content: center;
align-items: center;
}
.aboutus1 > .texto{
    text-align: left;
    text-wrap: wrap;
    margin:0px 25px 100px 0px;
}
.aboutus1 > #img1{
    margin-right: 100px;
    margin-top: 150px;
}


.aboutus2{
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ddd3cc;
}
.aboutus2 > .texto{
    text-align: left;
    text-wrap: wrap;
    margin:0px 25px 100px 0px;
}
.aboutus2 > #img2{
    margin-right: 100px;
    margin-bottom: 150px;
}

#img1 > img, #img2 > img{
    width: 600px;
}

.aboutus3{
    height: 400px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutus3 > h2{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.section-content{
    height: 200px;
    width: 200px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(179, 200, 207, 0.4);
    

}
.section-content > img{
    width: 100px;
}
.section-content > p{
    width: auto;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
}

#Desarrolladopor>a{

    text-decoration: none;
    color: black;
    display: grid;
    text-align: center;
    transition: all 500ms;

}
#Desarrolladopor>h2{
    text-align: center;
    font-size: 28px;
    padding-bottom: 15px;
}

#Desarrolladopor{
    margin-bottom: 35px;
    background-color: #ddd3cc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -3px 3px 5px #ddd3cc;
    border: 1px solid #ddd3cc;
    margin: 0 300px 40px 300px;
    
}
#Desarrolladopor>a:hover{
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: underline;
}

#cifras{
    padding-top: 40px;
}