body {
    background-color: #fcf8f3;
}

.fila-galeria {
    padding: 50px;
    display: grid;
    grid-auto-flow: column;
    gap: 200px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.fila-galeria > div > a {
    text-decoration: none;
    color: black;
    display: block;
    
}

.fila-galeria > div {
    transition: all 700ms;
}

.fila-galeria > div {
    transform: scale(1.1);
}

#ultima-fila {
    border-bottom: 1px solid black;
    margin-bottom: 70px;
}

.texto {
    padding: 40px;
    width: 1225px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
}

.texto > h1 {
    margin-bottom: 15px;
}
