body {
    background-color: #fcf8f3;
    margin: 0;
    padding: 0;
}

/*Titulos*/ 
.tituloPagina{
    align-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black ;
    margin: 30px 80px 20px 80px;
}

.tituloPrincipal{
    align-content: center;
    justify-content: center;
}

.piePagina{
   margin: 10px 20px 20px 20px;
    align-content: center;
    box-sizing: border-box;
}

/*Muebles*/
.titulo{
    width: fit-content;
    float: left;
    box-sizing: border-box;
}
.precio{
    width: fit-content;
    clear: left;
    box-sizing: border-box;
}


/*filas imagenes*/
.filas {
    padding-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 150px;
    grid-auto-flow: column;

}

.producto{
    width: 400px;
    transition: all .5s;  
}
.pieDeFoto{
    width: 400px;;
    display: block;
}

.pieDeFoto:hover, .contenido > a >.titulo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contenido{
    width: fit-content;
    float: left;
    
}

#ultimaFila{
    border-bottom: 1px solid black;
    padding-bottom: 70px;
    margin: 0px 80px 50px 80px;
}

/*imagenes*/
.fotoPrincipal{
    width: 400px;
}

.producto:hover{
    transform: scale(1.1);
     
}

/*Boton corazon*/
.corazon{
    height: 30px;
    width: 30px;
    margin-left: auto;
}

#boton-corazon-relleno {
    display: none;
}

#boton-corazon, #boton-corazon-relleno {
    background-color: transparent;
    border: 0;
    width: fit-content;
    float: right;
}

#boton-corazon {
    display: block;
}

#boton-corazon:hover, #boton-corazon-relleno:hover {
    transform: scale(1.2);
    transition: all 400ms;
    cursor: pointer;
}

/*Fuentes*/


p.titulo, .precio{
    font-family: "Roboto",
    sans-serif;
    font-weight: 400;
    font-style: normal;
}
.marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
  }


.oswald-titulos {
    margin-top: 5px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}
.roboto-regular {
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed-50 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}

a{
    text-decoration:none;
    color: black;
}

a:hover{
    color: black;
}