body {
    background-color: #fcf8f3;
    margin: 0;
    padding: 0;
}

/*Titulos*/ 
.tituloPagina{
    align-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black ;
    margin: 30px 80px 20px 80px;
}

.tituloPrincipal{
    align-content: center;
    justify-content: center;
}

.piePagina{
   margin: 10px 20px 20px 20px;
    align-content: center;
    box-sizing: border-box;
}

/*Muebles*/
.titulo{
    width: fit-content;
    float: left;
    box-sizing: border-box;
}
.precio{
    width: fit-content;
    clear: left;
    box-sizing: border-box;
}


/*filas imagenes*/
.filas {
    padding-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 150px;
    grid-auto-flow: column;

}

.producto{
    width: 400px;
    transition: all .5s;  
}
.pieDeFoto{
    width: 400px;;
    display: inline-flex;
}
.contenido{
    width: fit-content;
}

#ultimaFila{
    border-bottom: 1px solid black;
    padding-bottom: 70px;
    margin: 0px 80px 50px 80px;
}

/*imagenes*/
.fotoPrincipal{
    width: 400px;
}

.producto:hover{
    transform: scale(1.1);
     
}

/*Boton corazon*/
.corazon{
    height: 30px;
    width: 30px;
    margin-left: auto;
}

#boton-corazon-relleno {
    display: none;
}

#boton-corazon, #boton-corazon-relleno {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    clear: right;
    margin: 0px 0px 10px 100px; 
}

#boton-corazon {
    display: block;
}

#boton-corazon:hover, #boton-corazon-relleno:hover {
    transform: scale(1.2);
    transition: all 400ms;
    cursor: pointer;
}

