body {
    background-color: #fcf8f3;
    margin: 0;
    padding: 0;
}

/*Titulos*/ 
.tituloPagina{
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0 80px 0 80px;
}

.tituloAparador{
    align-content: center;
    justify-content: center;
}

.piePagina{
   margin: 20px 20px 20px 20px;
    align-content: center;
    box-sizing: border-box;
}

/*Muebles*/
.titulo{
    width: fit-content;
    float: left;
    box-sizing: border-box;
}
.precio{
    width: fit-content;
    clear: left;
    box-sizing: border-box;
}


/*filas imagenes*/
.filas {
    padding-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 150px;
    grid-auto-flow: column;

}

.producto{
    width: 400px;
}
.pieDeFoto{
    width: 400px;;
    display: inline-flex;
}
.contenido{
    width: fit-content;
}

/*imagenes*/
.categoryAparador{
    width: 400px;
    
}

.heart{
    height: 30px;
    width: 30px;
    margin-left: auto;
}