body {
    overflow-x: hidden;
}

/*Fuentes*/
  .marcellus-sc-regular {
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
  }

  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

  .open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

/* ICONS */

* {
    margin: 0;
    padding: 0;
    font-family: lato;
    scrollbar-width: none;
}

::-moz-selection { /* Cambia el color del texto seleccionado en mozilla */
    background-color: #ddd3cc;
}

::selection { /* Cambia el color del texto seleccionado en otros navegadores */
    background-color: #ddd3cc;
}

img { /* Deshabilita que se puedan seleccionar imágenes */
    user-select: none;
}

/* ICONS */

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover  {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 400ms;
}
/*Estilizacion del header*/

header{
    background-color: #ddd3cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 10px;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0px;
    border-bottom: 3px solid #9A8263;
}

header > a {
    color: black;
    text-decoration: none;
    margin-left: 270px;
}
#rightheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-right: 30px;
    padding-left: 2px;
}

#searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    background-color: transparent;
    color: black;
    
    padding-right:20px ;
    
}
#seachBar, input{
   background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
}
#seachBar, input:focus{
    outline: none;
    padding-left: 10px;

}
/*aside*/

aside{
    background-color: #ddd3cc;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-direction: column;
}

aside > button{
    background-color: #ddd3cc;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}


/* Footer Style*/

footer{

    background-color: #ede7e2;
    height: auto;
}

.columnas-footer {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0px;
    grid-auto-flow: column;

}

.footer-section{
    
    height: 150px;
    width: 500px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
/*Para quitarle el color y estilos a los enlaces (tambien a los de las redes sociales)*/
.footer-section > a, .footer-section > div> a{
    text-decoration: none;
    color: black;
}


/*En vez de que cada uno tenga bordes, que solo el central tenga en la derecha
y en la izquierda*/

.footer-section:nth-child(2){
    border-right: 1px solid black;
    border-left:1px solid black ;

}

/*Chorizaco de codigo que se encarga enteramente de colocar los metodos de pago abajo*/

#payMethodContainer{
    padding-top: 25px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 300px;
    grid-auto-flow: column;
}

#payMethodContainer > img {
    width: 70px;
    height: auto;
    margin: auto;
}

#titulo-metodos-pago{
    border-bottom: 1px solid black;
    margin: 0px 150px 0px 150px;
    font-size: 20px;
}

footer > p {
    margin-top: 20px;
    justify-content: center;
}
/*Aqui termina*/

/*Bajar el copyright*/
#legal{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

#legal > a {
    color: black;
    margin-bottom: 10px;
}

aside > a > button {

    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
}

aside > a > button:hover{ 
    background-color: #ede7e2;
    transform: scale(1.2);
    transition: all 400ms;
    cursor: pointer;
}

.red-social {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5px;
    grid-auto-flow: column;
}

.nombre-red-social {
    margin-top: 4px;
}

/* Sidebar */



#sidebar {
    z-index: 1000;
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: #ddd3cc;
    border-right: 3px solid #9A8263;
    left: -403px;
    transition: all 700ms linear;
}

#sidebar ul li a{
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 15px 10px;
    list-style: none;
    
}

#sidebar.active {
    left: 0px;
}

/* Sidebar: Categorias*/

.titulo-sidebar {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms;
}

.subclase-sidebar1, .subclase-sidebar2 {
    margin-left: 30px;
    padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 1.5s ease;
}

.subclase-sidebar1.active-subclase, .subclase-sidebar2.active-subclase {
    opacity: 1;
    max-height: 20px;
}

#mostrar-subclases1, #mostrar-subclases2 {
    width: 20px;
    height: auto;
    float: right;
    margin-top: 2px;
    transition: all 1.5s;
    cursor: pointer;
}

#mostrar-subclases1.animacion, #mostrar-subclases2.animacion {
    transform: rotate(135deg);
}

#imagen-sorteo {
    width: 380px;
    justify-items: center;
    bottom: 50px;
    margin-left: 10px;
    cursor: pointer;
    position: fixed;
}

/* Implementación Google */

#google_translate_element {
    display: grid;
    width: fit-content;
    justify-items: center;
    bottom: 30px;
    cursor: pointer;
    position: fixed;
    left: -200px;
    transition: all 700ms linear;
}

#google_translate_element.active {
    left: 200px;
}

.skiptranslate {
    position: fixed;
    
}

/* Sidebar: Logo */

#logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all 1.5s;
    padding: 40px 0 40px 0;
}

#logo.animacion{
    transform: rotate(360deg);
}

/* Fin Sidebar*/

/* Alertas */

.swal-overlay {
    background-color: #fcf8f369;
}

.swal-modal {
    background-color: #ede7e2;
    border: 3px solid #A79277;
    width: 700px;
    height: fit-content;
    color: #ede7e2;

}

.swal-footer {
    text-align: center;
}

.swal-button {
    background-color: #ddd3cc;
    border: 1px solid #A79277;
    color: #53514F;
    font-size: 16px;
}

.swal-icon--success {
    background-color: transparent;
    &::before, &::after{
        background-color: transparent;
    }
    &__ring{
        background-color: transparent;
        border: 0;
        z-index: 100;
    }
}
.swal-icon--success__hide-corners {
    background-color: transparent;
}




