body {
    background-color: #fcf8f3;
}

#logo-centro {
    margin-top: 50px;
    width: 350px;
    height: auto;
}

#titulo-pagina {
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 40px 0px 10px 0px;
    margin: 0px 80px 0px 80px;
}

#titulo-pagina > h2 {
    width: fit-content;
    font-size: 32px;
}

.informacion {
    display: grid;
    place-items: center;
    width: 500px;
}

.formulario {
    width: 500px;
    padding: 20px;
    margin: 20px;
    background-color: #ede7e2;
    text-align: center;
    border: 2px solid #9A8263;
    border-radius: 15px;
    box-shadow: 0px 9px 33px -12px rgba(0,0,0,0.65);
} 

section {
    padding: 50px 0;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 100px;
    grid-auto-flow: column;
    margin: 0px 30px 0px 30px;
    }

.contacto, .oficina {
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #ede7e2;
    text-align: center;
    border: 2px solid #9A8263;
    border-radius: 15px;
    box-shadow: 0px 9px 33px -12px rgba(0,0,0,0.65);
   
}

.contacto > h4, .oficina > h4 {
    font-size: 20px;
}

.contacto > p, .contacto > a, .oficina > p {
    font-size: 14px;
} 



.contacto > a {
    text-decoration: none;
    color: black;
}

.fragmento{
    margin-bottom: 6%;
    margin-top: 8%;
    text-align: center;
    align-items: center;
    width: 100%;
}

#formulario input:not([type="submit"]) {

    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: #dfcbbd thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #222;

}

#comentario > textarea {
    background-color: #ddd3cc;
    height: 60px;
    width: 80%;
    border-radius: 5px;
    resize: none;
    align-items: center;
}


#enviar > input[type="submit"] {
    border: 1px solid #ddd3cc;
    text-align: center;
    border-radius: 5px;
    padding: 5px 70px;
}

#enviar > input[type="submit"]:hover {
    background-color: #ddd3cc;
    cursor: pointer;
}

.error-mensaje {
    font-family: 'Libre Baskerville', serif;
    color:#222;
    font-size: 12px;
    text-align: center;
}
    
.error-mensaje ul {
    padding: 0;
    list-style: none;
}
.error-mensaje li {
    margin-bottom: 5px;
}
    
#errores{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #9A8263;
    display: none;
    margin-bottom: 15px;
    margin-top: 20px;
    border-radius: 10px;
}