body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf8f3;
}

form {
    
    background-color: #ede7e2;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -3px 3px 5px #ddd3cc;
    border: 1px solid #ddd3cc;
}

h2 {
    padding-top: 10px;
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

form > input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fcf8f3;
}

input[type="checkbox"] {
    width: 70%;
    background-color: #ddd3cc;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    display: inline-block;
    
}

input[type="submit"] {
    width: 100%;
    background-color: #ddd3cc;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #fff5e7;
}
