body {
    background-color: #fcf8f3;
}

.content{
margin: 50px;

}

.h1{
text-align: center;
}

.content > h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: block;
}
.content > p, .content > dl > dd {
    text-align: justify;
    padding: 10px 0;
    line-height: 1.2;
    font-family: 'Libre Baskerville', serif;
}

body{
    background-color: #fcf8f3;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  h2 {
    font-family: 'Marcellus SC', serif;
    font-weight: normal;
  }
  p {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 10px;
  }
