* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

/* ICONS */

.icon {
    width: 30px;
    height: 30px;
}
/* SLIDE INDEX CORREGIR Q SE VUELVE LOCO */

/*Estilizacion del header*/
header{
    background-color: #ddd3cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-left: 10px;
}
header > h1{
    
    margin-left: 200px;
}
#rightheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-right: 30px;
    padding-left: 2px;
}

#searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    background-color: transparent;
    color: black;
    
    padding-right:20px ;
    
}
#seachBar, input{
   background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    
    

}
#seachBar, input:focus{
    outline: none;
    padding-left: 10px;

}

.slider-css {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;


}

.slider-css ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-css li {
    list-style: none;
    width: 100%;
}

.slider-css img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

}

/* FIN SLIDE INDEX */