/*Estilos generales*/


button{ /*Afecta a todos los botones del index*/
    background-color: #ddd3cc;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}
/*Fin de estilos generales*/

.slider-css {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-css ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s  infinite  linear ;
}

.slider-css li {
    list-style: none;
    width: 100%;
}

.slider-css img {
    width: 100%;
}

/*Estilo para que el contenedor del titulo este en el centro y transparente difuminado*/
#titleC{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
/*Estilos especificos dentro del ID titulo para los diferentes titulos*/
#titleC > h1{
    font-size: 80px;
}
/*Estilos especificos dentro del ID titulo para los diferentes titulos*/

#titleC > h2{
    padding: 10px 0px 80px 0px;
}

#titleC > a > button{
    margin-bottom: 50px;
}




/*Por pulir*/
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


/* FIN SLIDE INDEX */

/*Estilo de las secciones de los carruseles*/
#carruseles{ /*Contenedor principal*/
    height: 160vh;
    background-color: white;
  
}

.carouselP{
    height: 50%;
    width: 95%;
    margin-left: 45px;
}

.carouselP .image-list, .carouselP .image-list1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 30px;
    font-size: 0;
    overflow-x: auto;
}

/*.carouselP .image-list1 {
    display: flex;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 30px;
    font-size: 0;
    overflow-x: auto;
    background-color: yellowgreen;
}*/

.carouselP .image-list .image-item{
    
    object-fit: cover;
    margin: 0 10px 0 10px;

}

.carouselP .image-list1 .image-item1{
    
    object-fit: cover;
    margin: 0 10px 50px 10px;
    width: 300px;

}

#carousel1 > p{
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

#carousel2 > p{
    margin-left: 10px;
    margin-bottom: 10px;
}

#carousel2{
    
    margin-bottom: 10px;
}

.arrows{
    width: 20px;
}

#carruseles .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;

}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc ;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000 ;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Botones del carrusel */
#carousel1 .slide-button{
    position: absolute;
    top: 1200PX;
    height: 50px;
    width: 50px;
    cursor: pointer;
  
}
#carousel2 .slide-button{
    position: absolute;
    top: 1820px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
  
}

#carousel1 .slide-button#prev-slide{
    margin-top: 50px;
    left: 0px;
    background-color: transparent;
    border: 0;
    transition: all 500ms;
}

#carousel2 .slide-button#prev-slide1{
    margin-top: 50px;
    left: 0px;
    background-color: transparent;
    border: 0;
    transition: all 500ms;
}

#carousel1 .slide-button#prev-slide:hover, #carousel1 .slide-button#next-slide:hover {
    transform: scale(1.2);
}

#carousel2 .slide-button#prev-slide1:hover, #carousel2 .slide-button#next-slide1:hover {
    transform: scale(1.2);
}

#carousel1 .slide-button#next-slide{
    margin-top: 50px;
    right: 0px;
    background-color: transparent;
    border: 0;
    transition: all 500ms;
}
#carousel2 .slide-button#next-slide{
    margin-top: 50px;
    right: 0px;
    background-color: transparent;
    border: 0;
    transition: all 500ms;
}
/* Alerta del principio */

.swal-overlay {
    background-color: #fcf8f369;
}

/* Cookies */

#cookies {
    background-color: #ddd3cc;
    width: 100%;
    height: 130px;
    z-index: 1000;
    position: sticky;
    bottom: 0px;
    text-align: justify;
    transition: all 500ms linear;
    border-top: 3px solid #D1BB9E;
}

#cookies > p {
    padding: 20px;
}

#botones-cookies {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

#botones-cookies > button, #botones-cookies > a > button {
    cursor: pointer;
    transition: all 500ms;
    margin-left: 5px;
}

#botones-cookies > button:hover, #botones-cookies > a > button:hover {
    background-color: #ede7e2;
    transform: scale(1.05);
}