* {
    box-sizing: border-box;
}

body {
    background-color: #fcf8f3;
}

p {
    font-family: sans-serif;
    line-height: 1.3;
}

h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Imágen principal y descripción */
.producto-principal {
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 200px;
    grid-auto-flow: column;
    margin-bottom: 50px;
}

.foto-principal {
    width: 500px;
    height: auto;
    display: inline-block;
}

.producto-principal-descripcion {
    width: 500px;
    height: auto;
    display: inline-block;
}

#nombre-mueble {
    margin-bottom: 0;
    width: fit-content;
    float: left;
    font-size: 23px;
}

#referencia {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    width: fit-content;
    clear: left;
}

#precio {
    width: fit-content;
    float: left;
    margin: 10px 0px 0px 0px;
}

#iva {
    width: fit-content;
    font-size: 10px;
    float: left;
    margin: 17px 0px 0px 5px;
}

/* Botón corazón */
.corazon {
    width: 30px;
    height: auto;
}

#boton-corazon-relleno {
    display: none;
}

#boton-corazon, #boton-corazon-relleno {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    width: 30px;
    clear: right;
    margin: 6px 0px 10px 470px; 
}

#boton-corazon {
    display: block;
}

#boton-corazon:hover, #boton-corazon-relleno:hover {
    transform: scale(1.2);
    transition: all 400ms;
    cursor: pointer;
}

/* Fin botón corazón*/

/* Colores */
.colores {
    border-top: 1px solid black;
    margin-bottom: 1.12em;
}



#color {
    background-color: #C59769;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#color:hover {
    background-color: #C59769;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid lightgrey;
    transform: scale(1.5);
    transition: all 300ms;
    cursor: pointer;
}
/* Fin colores */
.descripcion {
    border-top: 1px solid black;
}

.contador-unidades {
    border-top: 1px solid black;
}

#anyadir-carrito {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ede7e2; 
}

#anyadir-carrito:hover {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ddd3cc; 
    transform: scale(1.05);
    transition: all 300ms;
    cursor: pointer;
}

/* Imágenes secundarias */
#imagenes-secundarias {
    border-top: 1px solid black;
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 150px;
    grid-auto-flow: column;
    margin: 0px 50px 50px 50px;
}

.imagenes-secundarias {
    width: 300px;
    transition: all 300ms;
    position: relative;
}

.imagenes-secundarias:hover {
    transform: scale(1.15);
}

.oswald-titulos {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
/*Modal box*/
.container .popup-image{
    position: fixed;
    top: 70px;
    left: 0;
    background:rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius:5px ;
    width: 650px;
    height: 820px;
    object-fit: cover;
}

.price-counters {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 10px;


}
.buttonsStyle{
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 20px;
    border: 1px solid black;
    width: 50%;
}

.buttonsStyle > button{
    width: 50%;
    background-color: white;
    border: none;
    font-size: 20px;

}

.price-counters > button{

    width: 10%;
    background-color: #fff;
}
