body {
    background-color: #FFF2E1;
    box-sizing: border-box;
}

.contenedor {
    width: 45.5%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.ejemplo {
    background-color: #ddd3cc;
    padding: 20px;
    border-right: #FFF2E1;
}

.articulo1, .articulo2{
   display: flex;
   
}

.articulo1 img, .articulo2 img {
    margin-bottom: 10px;
    width: 400px;
    height: auto;
    display: inline-block;
    justify-content: space-between;
    padding: 80px;
}

button {
    background-color: #ddd3cc;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}

p {
    font-family: sans-serif;
    line-height: 1.3;
}