body {
    background-color: #fcf8f3;
}

.contenedor {
    width: 700px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.ejemplo {
    background-color: #ddd3cc;
    padding: 20px;
    border-right: #FFF2E1;
}

.articulo1, .articulo2{
   display: flex;
}

.articulo1 img, .articulo2 img {
    margin-bottom: 10px;
    width: 400px;
    height: auto;
    display: inline-block;
    justify-content: space-between;
    padding: 30px 80px;
    transition: all 700ms;
}

.articulo1 img:hover, .articulo2 img:hover {
    transform: scale(1.1);
}

.btn-nuestros-talleres {
    background-color: #ddd3cc;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    transition: all 500ms;
}

.btn-nuestros-talleres:hover {
    background-color: #ede7e2;
    transform: scale(1.1);
}

.contenedor > p {
    font-family: sans-serif;
    line-height: 1.3;
    margin: 10px 0 10px 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    /*Sobre escito el tipo de fuente por que no carga el commons bien*/
}

.contenedor > p:nth-child(3) {
    font-family: sans-serif;
    line-height: 1.3;
    margin-bottom: 50px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}