.content{
    margin: 50px;
    
    }
    .content > h2{
        text-align: center;
        border-bottom: 1px solid black;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .content > p{
        text-align: justify;       
    }
    body{
        background-color: #fcf8f3;
    }
