.main {
    background-color: #fcf8f3;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buying-zone {
    position: relative;
    width: 90%;
    height: 80%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 100px;
    align-items: center;
}

.product-container {
    height: 100%;
    width: 1000px;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 20px;
    background-color: #ede7e2;
    border: 2px solid #9A8263;
    border-radius: 15px;
    box-shadow: 0px 9px 33px -12px rgba(0,0,0,0.65);
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 500px;
    background-color: #ddd3cc;
    align-self: normal;
    background-color: #ede7e2;
    border: 2px solid #9A8263;
    border-radius: 15px;
    box-shadow: 0px 9px 33px -12px rgba(0,0,0,0.65);
}

#logo-dicomo {
    margin-top: 35px;
}

.products {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    
}

.products>img {
    height: 94%;
    width: auto;
    padding: 10px;

}

.descrip {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;

}


.descrip>#quantity {
    height: 50px;
    border: 1px solid black;

}

/*Lo de pagar*/


.promo-code {
    border: 1px solid black;
    margin-bottom: 200px;


}

.promo-code>form>input {
    background-color: white;
    border: 1px solid;
    height: 70px;
    width: 400px;
}

.promo-code>form>button {
    background-color: white;
    border: 1px solid;
    height: 70px;

}

.priceThings {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}



.priceThings>div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.priceThings p:nth-of-type(2),
.priceThings p:nth-of-type(5) {
    font-weight: bold;

}

#pay {
    margin-bottom: 100px;
    background-color: transparent;
    width: 60%;
    height: 50px;
}

/*Contadores*/


.price-counters {
    display: flex;
    align-items: center;
    margin-top: 10px;


}

.buttonsStyle {
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 20px;
    border: 1px solid black;
    width: 100px;
}

.buttonsStyle>button {
    width: 50%;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 500ms;
}

.price-counters>button {
    width: 10%;
    background-color: #fff;
}

.nombre-producto {
    font-size: 18px;
    font-weight: bold;
}