.main{
    background-color: antiquewhite;
    height: 150vh;
    display: flex;
  justify-content: center;
    align-items: center;

}

.buying-zone{
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
    margin-bottom: 50px;
  justify-content: space-between;
    align-items: center;

}
.product-container{
    height: 100%;
    width: 1000px;
    background-color: #ddd3cc;
    
}
.price-container{
    height: 800px;
    width: 500px;
    background-color: #ddd3cc;
    align-self:normal;
}
.products{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
.products > img{
    height: 94%;
    width: auto;
    padding: 10px;
    
}
.descrip{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    
}


.descrip > #quantity{
    height: 50px;
    border: 1px solid black;

}

/*Lo de pagar*/
.price-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.promo-code{
    border: 1px solid black;
    margin-bottom: 200px;
    
    
}

.promo-code > form > input{
    background-color: white;
    border: 1px solid;
    height: 70px;
    width: 400px;
}
.promo-code > form > button{
    background-color: white;
    border: 1px solid;
    height: 70px;

}
.priceThings {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}



.priceThings > div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.priceThings p:nth-of-type(2),
.priceThings p:nth-of-type(5) {
    font-weight: bold;
   
}

#pay{
    margin-bottom: 100px;
    background-color: transparent;
    width: 60%;
    height: 50px;
}